.recepie-image {
  max-width: 500px;
  max-height: 500px;
  object-fit: cover;
  margin: 0 auto 1rem auto;
}

.recepie-description {
  font-size: 1.2rem;
  font-weight: 400;
}

.recepie-ingredients {
  font-size: 1.2rem;
  font-weight: 400;
}

.recepie-ingredient-name {
  font-weight: bold;
}

.recepie-ingredient-separator {
  font-size: 1rem;
  font-weight: 400;
}

.recepie-ingredient-quantity {
  font-size: 1rem;
  font-weight: 400;
}

.steps {
  font-size: 1.2rem;
  font-weight: 400;
}
